* {
    margin: 0;
    padding: 0;
}

#dropzone {
    background-color: powderblue;
    margin: 0.5em;
    padding: 0.4em;
    min-height: 100vh;
    font-size: 1.4em;

}

.node {
    background-color: cornsilk;
    margin: 0.5em;
    padding: 0.4em;
    border: 3px skyblue solid;

}